body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
    transition: 0s;
    background-color: #f0f0f0;
}
a {
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

canvas {
    /*disable anti-aliasing*/
    image-rendering: pixelated;
    transition: none !important;
}

canvas:focus {
    outline: none;
}

#container {
    color: black;
    display: flex;
    justify-content: center;
    left: 0%;
}

#container canvas, #overlay {
    user-select: none;
}

#game-wrapper {
    background: white;
    box-shadow: 0 0 0 2px #333;
}

#game {
    display: block;
    border: 2px solid #333;
}

/* ChatGPT helped me figure out alignment stuff */
#fullscreen-container {
    width: 140px;
    border-radius: 8px;
    z-index: 99;
    background: rgb(45, 45, 45);
    border: 1px solid rgb(245, 245, 245);
}

#overlay {
    position: fixed;
    top: 0;
    right: 50px;
}

#fullscreen-container span {
    position: relative;
    color: rgb(245, 245, 245);
    font-size: 28px;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 200ms;
}
#fullscreen-container span:hover {
    color: rgb(74, 65, 179);
}

#fullscreen {
    left: 40px;
}

#audio {
    left: 70px;
}

#reload {
    left: 100px;
}

#back {
    left: 130px;
}

#save {
    left: 160px;
}

#copyButton {
    top: 78%;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    padding: 6px 15px;
    background-color: rgb(70, 150, 90);
    border-radius: 40px;
    font-size: 20px;
    font-family: "Lato";
    z-index: 10;
    color: white;
    display: none;
}
#copyButton:hover {
    background-color: rgb(98, 140, 101);
}


#console {
    color: white;
    margin: 5px;
    width: 50%;
    background-color: rgba(25, 25, 25, 0.6);
    font-family: monospace;
    box-sizing: border-box;
    padding: 6px;
    max-height: 220px;
    overflow: auto;
} 
#console pre { 
    margin: 0; 
    white-space: pre-wrap; 
}
#console .line { 
    color: #ddd; 
}
#console .error { 
    color: #ff4d4d; 
    font-weight: 700; 
}
#console .warn  { 
    color: #ffb86b; 
}
#console .info  { 
    color: #9ad0ff; 
}

.material-icons {
    font-size: 25px;
    color: inherit;
    vertical-align: middle;
    margin-left: -40px;
    padding-right: 5px;
}


#interface {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Lato";
    user-select: none;
}
